.App {
  text-align: center;
  background-color: #2d7c92;
  
}

.app-content {
  
  text-align: center;
  font-size: 30px;
}

#addCase {
    height: 55px;
    position: initial;
    border-style: none;
    width: 50%;
    text-align: center;
    font-size: 36px;
    background-color: rgb(141, 111, 86);
    color: rgb(173, 245, 6);
}

#addCase::placeholder { color: rgb(85, 85, 85); }

#button-add {
  font-size: 20px;
  padding: 10px 20px;
  margin: auto 2%;
  border-style: none;
  background-color: rgb(141, 111, 86);
  color: rgb(173, 245, 6);
}

